header {
    width: 100%;
    max-width: 100vw;
    border-bottom: 1px solid #ddd;
    font-family: "Nixie One", system-ui;
}
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: 90vw;
}
.container-header span {
    font-size: 30px;
    letter-spacing: 6px;
    font-weight: bold;
}
.container-header nav ul {
    display: flex;
    gap: 50px;
}
.container-header nav ul li a {
    font-family: "Jost", Roboto, sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}
.container-header .list-search img{
    width: 20px;
}

.container-header .list-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-header .list-search .search{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.container-header .list-search .search input{
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    margin-top: 5px;
}