

<header>
    <div class="container-header">
        <span>CLOTHIFY</span>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="list-search">
            <div class="search">
                <img src="assets/icons/search.svg" alt="">
                <input type="text" placeholder="Buscar...">
            </div>
            <div class="car">
                <img src="assets/icons/carrito.svg" alt="">
            </div>
        </div>
    </div>
</header>
