

<header>
    <div class="container-header">
        <span>CLOTHIFY</span>
        <nav>
            <ul>
                <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
                <li><a routerLink="/products" routerLinkActive="active-link">Products</a></li>
                <li><a routerLink="/contacts" routerLinkActive="active-link">Contact</a></li>
            </ul>
        </nav>
        <div class="list-search">
            <div class="search">
                <img src="assets/icons/search.svg" alt="">
                <input type="text" placeholder="Buscar...">
            </div>
            <div class="car">
                <img src="assets/icons/carrito.svg" alt="">
            </div>
            <div class="admin">
                <a routerLink="/admin/products/new">Admin</a>
            </div>
        </div>
    </div>
</header>
