
.container-products{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}
.container-products .sidebar {
    border-right: 1px solid #ddd;
    padding: 30px 30px 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.container-products .sidebar h2 {
    font-size: 20px;
    color: #b6b6b6;
    letter-spacing: 2px;
    font-weight: 300;
}
.container-products .sidebar .container-category h3,
.container-products .sidebar .container-price h3 {
    color: #222;
    letter-spacing: 2px;
} 
.container-products .sidebar .container-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.container-products .sidebar .container-category .category{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-products .sidebar .container-category .category .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.container-products .sidebar .container-category .category .filter input[type="checkbox"]{
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    outline: none;
    cursor: pointer;
}









/*
.container-products .sidebar .container-price {
    display: flex;
    gap: 20px;
}
.container-products .sidebar .container-price input {
    width: 40px;
}
    */
